<nav class="navbar navbar-expand-lg navbar-light bg-light" color="cyan">
    <a class="navbar-brand">Dungeons And Dragons Spell List</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Spell Bank <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">My Spells</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
            Spell Level
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Cantrips</a>
            <a class="dropdown-item" href="#">Lv. 1</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Lv. 2</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>